@{
    ViewData["Title"] = "Material Finder";
}

<script>
    var materialCache = [];
    var defaultSystems = ["Sol","Shinrarta Dezhra", "Sothis", "Deciat", "Maia", "Ceos",  "Cubeo", "Wyrd", "Rhea", "Wolf 397", "Kamadhenu", "Leesti", "Eravate", "Wu Guinagi", "Sirius", "Colonia", "Merope", "Procyon", "Diaguandri", "HIP 10716"];

    $(document).ready(function () {

        // Create the materials multi-selection combobox
        $("#materials").selectize({
            highlight: false,
            plugins: ["remove_button", "restore_on_backspace"],
            placeholder: "Select up to 5 items...",
            maxItems: 5,
            labelField: "matName",
            valueField: "matName",
            searchField: "matName",
            preload: true,
            load: function (query, callback) {
                if (materialCache.length) return callback(materialCache); // Avoid unnecessary AJAX requests

                $.ajax({
                    url: '../materialnames.json',
                    type: 'GET',
                    error: function () { callback(); },
                    success: function (data) {
                        materialCache = data.map(
                            function (item) {
                                return { matName: item };
                            }
                        );
                        return callback(materialCache);
                    }
                });
            }
        });

        // Create the reference system combobox
        $("#refsystem").selectize({
            highlight: false,
            plugins: ["restore_on_backspace"],
            labelField: "sysName",
            valueField: "sysName",
            searchField: "sysName",
            create: false,
            preload: true,
            load: function (query, callback) {
                // Clear cached items from previous requests
                this.clearOptions();
                this.renderCache = {};

                if (!query.length) {
                    return callback(defaultSystems.map(
                        function (item) {
                            return { sysName: item };
                        })
                    );
                }

                $.ajax({
                    url: '../api/v1/strings/systemnames/' + query + '?limit=10',
                    type: 'GET',
                    error: function () {
                        callback(defaultSystems.map(
                            function (item) {
                                return { sysName: item };
                            })
                        );
                    },
                    success: function (data) {
                        return callback(data.map(
                            function (item) {
                                return { sysName: item };
                            })
                        );
                    }
                });
            }
        });

        //$("#submit").click(function () {
            //$("#resultsTable").load("/MaterialFinder/LoadPartial/" + $("#material").val() + "?refsystem=" + $("#refsystem").val());
            //viewModel.dataMats.removeAll();
            //viewModel.rawMats.removeAll();
            //$.getJSON("/MaterialFinder/LoadPartial/" + $("#material").val() + "?refsystem=" + $("#refsystem").val(),
            //    function (data) {
            //        console.log("JSON data received")
            //        if (data[0].hasOwnProperty("concentration")) {
            //            ko.mapping.fromJS(data, {}, viewModel.rawMats);
            //        } else {
            //            ko.mapping.fromJS(data, {}, viewModel.dataMats);
            //        }
            //    }
            //);
        //});

        $("#materialFinderForm").submit(function (event) {
            event.preventDefault();
            return false;
        });
    });
</script>

<form id="materialFinderForm" action="#" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="refsystem">Current System</label>
        <div class="col-sm-10">
            <select id="refsystem" name="refsystem" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="materials">Materials</label>
        <div class="col-sm-10">
            <select id="materials" name="materials" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-12">
            <submit id="submit" class="btn btn-primary btn-block">Search</submit>
        </div>
    </div>
</form>

<select>
    <option>System Distance</option>
    <option>Supercruise Distance</option>
    <option>Concentration (Weighted)</option>
</select>

<div id="resultsContainer"></div>