@{
    ViewData["Title"] = "Material Finder";
}

<script>
    $(document).ready(function () {
        ko.applyBindings(viewModel);

        $("#submit").click(function () {
            $("#resultsTable").load("/MaterialFinder/LoadPartial/" + $("#material").val() + "?refsystem=" + $("#refsystem").val());
            //viewModel.dataMats.removeAll();
            //viewModel.rawMats.removeAll();
            //$.getJSON("/MaterialFinder/LoadPartial/" + $("#material").val() + "?refsystem=" + $("#refsystem").val(),
            //    function (data) {
            //        console.log("JSON data received")
            //        if (data[0].hasOwnProperty("concentration")) {
            //            ko.mapping.fromJS(data, {}, viewModel.rawMats);
            //        } else {
            //            ko.mapping.fromJS(data, {}, viewModel.dataMats);
            //        }
            //    }
            //);
        });
    });
</script>

<form action="#">
    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="refsystem">Current system</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="refsystem">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="material">Material name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="material">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-12">
            <button id="submit" type="button" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</form>

<select>
    <option>System Distance</option>
    <option>Supercruise Distance</option>
</select>

<div id="resultsTable"></div>